
.section {
    background-color: #f9f9f9;
    max-width: calc(80%);
    padding: 150px calc(10%);
}

.sectionContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.sectionItem {
    text-align: center;
    padding: 35px;
    width: 25%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 9%);
}

@media (max-width: 1024px) {
    .sectionItem { width: 100%; }
}

.sectionImg {
    width: 100px;
    border: 1px dashed gray;
}

.fadeInLeftContainer {
    width: 100%;
    float: left;
    padding-top: 25px;
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 3.5s;
    opacity: 1;
}

.fadeInLeft a {
    text-decoration: none;
    color: rgb(230 95 120);
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}